body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

.text-center {
    text-align: center;
}


header {
    width: 80%;
    margin: 0 auto;
}

header nav {
    flex-grow: 1;
    justify-content: start;
    padding: 20px;
}

header nav ul,
li {
    padding: 0;
    margin: 0;
}

header nav ul li ul li {
    padding: 0;
    margin: 0;
    width: 120%;
}

header nav ul {
    list-style: none;
}

header nav ul li:hover {
    list-style: none;
    border-top: solid 4px #ffbc0d;
}

header nav ul li {
    padding: 10px;
    text-decoration: none;
    display: inline;
    float: left;
    position: relative;
}

header nav ul li ul {
    display: none;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
}

header nav ul li ul li {
    background-color: white;
    display: flex;
    border-radius: 15px;
    border: solid rgb(240, 240, 240) 1px;

}

header nav ul li:hover ul {
    display: block;
}

header nav ul li ul li:hover {
    border-top: none;
    background-color: #ffbc0d;

}

section img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    background-color: #ffbc0d;
    font-weight: bold;
}

.portada {
    background-image: url(../img/grande.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 577px;
}

.combo {
    margin-left: 150px;
    color: #565657;
    margin-bottom: 150px;
    width: 12%;
}

.descubir {
    width: 100%;
    border: none;
    background-color: #dcdcdc;
    padding: 10px 30px;
    text-align: center;
    border-radius: 5px;
}

.cuerpo {
    width: 80%;
    margin: 0 auto;

}

.col-2 {
    height: 540px;
    text-align: center;
    color: #565657;
    width: 48%;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 14px rgb(194, 193, 193);
}

.col-2 form input {
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    background-color: #ffbc0d;
    font-size: 16px;
}

.col-3 {
    height: 380px;
    text-align: center;
    color: #565657;
    width: 33%;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 14px rgb(194, 193, 193);
}

.btn2 {
    bottom: 12px;
    right: 12px;
}

.col-3 form input {
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    background-color: #ffbc0d;
    font-size: 16px;
}

.texto {
    width: 65%;
    margin: 0 auto;
    color: #565657;
}

.texto1 {
    width: 100%;
}

footer form input {
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    background-color: #dcdcdc;
    font-size: 16px;
    color: #565657;
}

.primera {
    background-color: #ffbc0d;
    padding-top: 10px;
    text-align: center;
    color: #565657;
}

.col3 {
    width: 33%;
}

.sombra {
    background-image: url(../img/logosombra.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gotas {
    background-image: url(../img/gotas.png);

    height: 53px;
}

.textofooter {
    text-align: center;
    color: #565657;
    border-bottom: solid 1px;
}

.textofooter h2 {
    display: inline;

}

.fa-facebook {
    color: #4a1f8a;
    padding: 10px;
}

.fa-instagram {
    color: #4a1f8a;
}

.segunda {
    width: 84%;
    margin: 0 auto;
}

footer img {
    margin-top: 10px;
    margin-right: 5px;
}