body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}


header {
    width: 80%;
    margin: 0 auto;
}

header nav {
    flex-grow: 1;
    justify-content: start;
    padding: 20px;
}

header nav ul,
li {
    padding: 0;
    margin: 0;
}

header nav ul li ul li {
    padding: 0;
    margin: 0;
    width: 120%;
}

header nav ul {
    list-style: none;
}

header nav ul li:hover {
    list-style: none;
    border-top: solid 4px #ffbc0d;
}

header nav ul li {
    padding: 10px;
    text-decoration: none;
    display: inline;
    float: left;
    position: relative;
}

header nav ul li ul {
    display: none;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
}

header nav ul li ul li {
    background-color: white;
    display: flex;
    border-radius: 8px;
    border: solid rgb(240, 240, 240) 1px;

}

header nav ul li:hover ul {
    display: block;
}

header nav ul li ul li:hover {
    border-top: none;
    background-color: #ffbc0d;

}
.btn{
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    background-color: #ffbc0d;
    font-weight: bold;
}
.portada{
    background-image: url(../img/grande.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 577px;
}
.combo{
    margin-left: 150px;
    color: #565657;
    margin-bottom: 150px;
    width: 12%;
}
.descubir{
    width: 100%;
    border: none;
    background-color: #dcdcdc;
    padding: 10px 30px;
    text-align: center;
    border-radius: 5px;
}
.card2{
    width: 80%;
    margin: 0 auto;
  
}
.col-2 {
text-align: center;
color: #565657;
width: 48%;
margin: 10px;
border-radius: 10px;
box-shadow: 0 0 14px rgb(194, 193, 193);
}